 @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.top-menu {
  position: relative;
  background: rgba(34,34,34,.2);
}
.footer{
	
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #606060; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.menu-main {
  margin: 0;
  padding: 5px 0 5px;
  text-align: center;
  background: white;
}
.image{
	text-align: center;
}
.colortext{
	color:#F73E24;}
.navbar-logo {
  position: absolute;
  left: 10%;
  
  transform: translateX(-50%);
}
.tools{
	text-align: center;
	padding: 10px 0 50px;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	width: 30%;
	display: inline-block;
	border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 100px;
}
.container h4 {
	font-family: 'Open Sans', sans-serif;
	 position: relative;
	 text-align:  center;
	 font-size: 28px;
}
.clink {
	font-family: 'Open Sans', sans-serif;
	 position: relative;
	 text-align:  center;
	 font-size: 17px;
	 color: black;
}
.clink:hover {
	font-family: 'Open Sans', sans-serif;
	 position: relative;
	 text-align:  center;
	 font-size: 17px;
	 color: #F73E24;
	 transition: color .2s;
}
.slogan h3 {
	font-family: 'Open Sans', sans-serif;
	 position: relative;
	 text-align:  center;
	 font-size: 42px;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main button:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #DC143C;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #F73E24;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main button {display: block;}
.menu-main button:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}
 .body {
    background-image: url(images/back1.jpg); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }